@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
button,
header,
nav,
li,
ul,
a {
  font-family: Raleway;
}

#arrow-icon-div {
  border-bottom: 2px solid currentColor;
  width: fit-content;
}
#arrow-icon-div:hover {
  border-bottom: 2px solid #82d7c7;
}
#arrow-icon-div:hover svg use {
  fill: #82d7c7;
}

@media (min-width: 1024px) {
  hr {
    margin-left: 0;
  }
}

svg {
  fill: white;
}

.social-media-div {
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .social-media-div:hover,
.social-media-div:hover svg path{
  border: 1px solid hsl(224, 93%, 58%);
  fill: hsl(224, 93%, 58%);
} */

/* Below code will do the same job as above commented code  */
.social-media-div:hover {
  border: 1px solid hsl(224, 93%, 58%);
}

.social-media-div:hover svg {
  fill: hsl(224, 93%, 58%);
}
