@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
button,
header,
nav,
li,
ul,
a {
  font-family: Raleway;
}

hr {
  border-top: 2px solid hsl(170, 45%, 43%);
  width: 170px;
  margin: auto;
}

@media (min-width: 1024px) {
  hr {
    margin-left: 0;
  }
}

svg {
  fill: white;
}

.social-media-div {
  border: 1px solid white;
  border-radius: 50%;
  padding: 8px;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
